.sidebar__tweet {
  background-color: var(
    --twitter-color
  ) !important; /**!important is used for overriding the basic property applied*/
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important; /**inherit text data whateever upper case lover caase or camelcase */
  border-radius: 30px!important;
  height: 50px!important;
  margin-top: 20px!important;
}
